<div class="fs-card">
  <h1>Full-Stack</h1>
  <div class="container">
    <p>Full stack developers, like me, are familiar with every layer of the stack of software development. We are well versed in both client-side (front-end), and server-side (back-end) development. While I can easily do both sides of the job, my strength lies in back-end development.</p>
    <i class="fas fa-layer-group stack icon"></i>
  </div>
</div>
