<div class="project-card plan-your-night">
  <h1 class="planyournight-heading">PlanYourNight.xyz</h1>
  <div class="hover-content hidden h-100">
    <div class="container content-organiser h-100">
      <p>A tool to get to know Berlin's nightlife for people who don't know the city.</p>
      <div class="visit-button mt-3">
        <%= link_to 'Visit Website', 'https://www.planyournight.xyz', target:'_blank', class:'light' %>
      </div>
    </div>
  </div>
</div>
