<div class="wp-card">
  <h1>Web-Pages</h1>
  <div class="container">
    <p>Static web pages require mainly front-end development. Usually they serve the purpose of providing information or creating awareness. Due to their relatively small size, they are quick to compute and thus very user friendly. Due to their relative simplicity they are usually quite fast to develop.</p>
    <i class="far fa-file-alt page icon"></i>
  </div>
</div>
