<div class="wa-card">
  <h1>Web-Apps</h1>
  <div class="container">
    <p>Web apps are applications consisting of some server-side logic that provides desired functionalities, and a client-side interafce allowing useres to use them. They are also often connected to a database. Web-apps are often much more complex and vary greatly in the time they take to develop.</p>
    <i class="fas fa-code app icon"></i>
  </div>
</div>
