<div class="wa-card">
  <h1>Web-Apps</h1>
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima veniam, dolorem magnam adipisci hic veritatis ducimus fuga est nisi obcaecati! Quaerat tempora accusantium, explicabo sint obcaecati nesciunt odio sed, voluptatum?</p>
    <i class="fas fa-code app icon"></i>
  </div>
</div>
