a.light{
  color: white;
  text-decoration: none;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

p{
  margin: 0;
}
