<div class="banner d-flex flex-column align-items-center justify-content-center">
  <div class="banner-content">
    <div class="intro-text">
      <h1>Hi, I'm Bjarne. I design and develop web-pages and web-apps, back- to front-end</h1>
    </div>
    <div class="continue-link">
      <p>Read about my services</p>
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
</div>
