<div class="banner d-flex align-items-center justify-content-center">
  <div class="banner-content d-flex flex-column h-100">
    <div class="row text-row">
      <div class="intro-text col-12">
        <h1>Hi, I'm Bjarne. I design and develop web-pages and web-apps, back- to front-end</h1>
      </div>
    </div>
    <div class="row">
      <div class="continue-link col-12 flex-column align-items-center text-center">
        <%= link_to '#', class: 'light' do %>
          <p>Read more about my work</p>
          <i class="fas fa-chevron-down"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
