<div class="whole-page impressum">
  <div class="container impressum">
    <div class="impressum-content">
      <h1>Impressum:</h1>
      <div class="impressum-info">
        <p>Name: Bjarne Hinkel</p>
        <p>Addresse: In der Mordach 7a 64367 Mühltal</p>
        <p>E-mail: bjarne@hinkels.de</p>
        <p>Tel.: +49 171 514 6940</p>
      </div>
      <%= link_to root_path do %>
        <button type="button" class="btn btn-outline-light">Back</button>
      <% end %>
    </div>
  </div>
  <div class="fade"></div>
  <%= render 'components/footer' %>
</div>
