.banner{
  background-image: linear-gradient(46deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url(background);
  background-size: cover;
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}

.intro-text{
  margin: 0;
  width: 50vw;
  font: $main-heading;
}
