.footer{
  height: 200px;
  width: 100vw;
  background-color: $footer-grey;
  display: inline-block;
}

.icons{
  width: 100%;
}

.icon-container{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  transition: 0.3s;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    font-size: 20px;
  }
  &.twitter{
    &:hover{
      color: $twitter;
      border-color: $twitter;
    }
  }
  &.linkedin{
    &:hover{
      color: $linkedin;
      border-color: $linkedin;
    }
  }
  &.github{
    &:hover{
      color: $github;
      border-color: $github;
    }
  }
  &.mail{
    &:hover{
      color: $mail;
      border-color: $mail;
    }
  }
}

.made-by{
  color: rgba(255,255,255,0.4);
  p{
    font-family: $body-font;
    font-size: 14px;
  }
  i{
    font-size: 18px;
    padding: 0 4px;
  }
}

.contact-me{
  color: rgba(255,255,255,0.4);
  p{
    font-family: $body-font;
    font-size: 18px;
  }
}

.top{
  color: $footer-grey;
}

.rechtliche-link{
  p{
    font-size: 12px;
    text-decoration: underline;
    margin: 0;
    color: rgba(255,255,255,0.4);
  }
  i{
    font-size: 5px;
    margin: 0 5px;
    color: rgba(255,255,255,0.4);
  }
}

.fade{
  height: 50px;
  width: 100vw;
  background: linear-gradient(180deg, $body-grey, $footer-grey);
  opacity: 1!important;
}
